*{
    padding: 0;
    margin: 0;
}

.deatails{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}
.Detail{
    justify-self: center;
    align-self: center;
    align-content: center;
}